<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img
    src="assets/img/inventario.png"
    class="imagen">

  <ion-list>

    <ion-item>
      Arroz - 50 unidades
    </ion-item>

    <ion-item>
      Pollo - 25 unidades
    </ion-item>

    <ion-item>
      Gaseosas - 40 unidades
    </ion-item>

  </ion-list>

  <ion-button expand="block" (click)="continuar()">
    Ver Seguimiento
  </ion-button>

</ion-content>